@charset "UTF-8";

body {
    height: 100vh;
    background-color: black;
    background-image: url(imagem/image02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    background-image:linear-gradient(to bottom, rgb(91, 91, 255), white) ;
    max-width: 13
    00px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}    

header{
    background-image: url(imagem/image01.png);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    border: 1px solid darkblue;
    margin: auto;
}    

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    padding-bottom: 50px;
}

footer{
    text-align: center;
    color: white;
}
